html,
body,
#app {
	height: 100%;
}

:root {
	color-scheme: light;
	--background-color: rgba(219, 231, 238, 100);
	--header-background-color: rgba(255, 255, 255, 100);
}

:root.dark {
	color-scheme: dark;
	--background-color: rgba(22, 29, 38, 100);
	--header-background-color: rgba(31, 41, 53, 100);
}
