html,
body,
#app {
	height: 100%;
	font-family: 'Poppins';
	font-weight: 400;
}

:root {
	color-scheme: light;
	--background-color: rgba(219, 231, 238, 100);
	/* --background-color: rgba(130, 145, 169, 100); */
	--header-background-color: rgba(255, 255, 255, 100);
	--text-color: rgba(130, 145, 169, 1);
	--chat-bg-color: rgba(237, 244, 251, 1);
	--menu-border-color: #8291a9;
	--person-item-border-color: #dbe7ee;
	--text-title-color: #242a38;

	--send-btn-bg: #0081ff;
	--submenu-color: #8291a9;
	--menu-active-color: #0081ff;
	--menu-active-bg-color: #161d26;
}

:root.dark {
	color-scheme: dark;
	--background-color: rgba(22, 29, 38, 100);
	--header-background-color: rgba(31, 41, 53, 100);
	--text-color: rgba(130, 145, 169, 1);
	--chat-bg-color: #161d26;
	--menu-border-color: #384352;
	--text-title-color: #fff;
	--person-item-border-color: #1f2935;
}

.bg-transition {
	transition: all 0.3s ease-in-out;
}
